html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;
    
    
}


nav{
    width: 100%;
    height: 60px;
   z-index: 2;
   display: flex;
   justify-content: space-around;
   position: sticky;
     position: relative;
     align-items: center;
}
.laylo{
    background-color: (255, 255, 255,0.7);
    width: 100%;
    height: 100vh;
}
h1{
    font-size: 50px;
   
    
}
ul{
    display: flex;

 
}
li{
    margin-left: 20px;
    list-style: none;
        
}
a{
    text-decoration: none;
    color: black;
}
.container{
  text-align: left;
  margin-left: 100px;
  
  
  
 height: 100vh;
 
  
 

}
button{
    color: white;
    background-color: rgb(32, 88, 70);
    font-size: 15px;
    border-color:rgb(32, 88, 70);

}
.container{
    background-image: url(./about.png);
    background-size: 100% ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 100%;
    height: 100vh;
  
}

span{
    color: aqua;
  
}
.container1{
   
   width: 100%;
    height: 50vh;
   
  width: 80px;
  margin-left: 150px;
    
}
hr{
     color: aqua;
     border: 1px solid aqua;
    border-bottom: 4px solid rgb(65, 141, 141);
    width: 100%;
}
img{
 background-color: rgba(255, 255, 255,0.7);
}
.btt{
    width: 80px;
    height: 70px;
}
.org{
    float: right;
    margin-left: 300px;
}
.derin{
    display: flex;
    background-color: rgba(255, 255, 255,0.8);
    width: 100%;
    height: 100vh;
}
#men{
    background-color: aqua;
    border-radius: 20px;
    width: 100px;
    height: 35px;
    color: white;
}
#sen{
    border-radius: 20px;
    background-color: gray;
    height: 25px;
    width: 180px;
    margin-bottom: 5px;
}
b{
    margin-left: 7px;
}
i{
    margin-right: 6px;
}
.ayag{
    display: flex;
    width: 100%;
    
   
}
.bas{
    width: 200px;
    margin-right: 20px;
}
.bas2{
    width: 200px;
    margin-left: 130px;
}
.bas3{
    width: 200px;
    margin-left: 60px;
}
.bas4{
    width: 200px;
    margin-left: 50px;
}
.bas5{
    width: 200px;
    margin-left: 50px;
}
.dordler{
    border: 1px solid aquamarine;
    box-shadow: 2px 2px 0 aqua;
    border-radius: 3px;
    width: 250px;
    height: 150px;
    margin-left: 30px;
}
.flex{
    display: flex;
    margin-top: 40px;
}
h4{
    text-align: center;
}
.ular i{
      margin-left: 45%;
      font-size: 35px;
      color: aqua;
}
.dordler p{
    text-align: center;
}
footer{
    margin-top: 200px;
    background-color: gray;
}
 .srt  img{
    width:400px;
    height: 200px;
}
.srt{
    display: flex;
    
}
.brt{
    margin-left: 120px;
    
}

h2{
    font-weight: 700;
}
.digital{
    background-image: url(./banner.jpg);
    background-size: 100% 100%;
    width: 100%;
    height: 40%;
}
h1{
    text-align: center;
}
.trr{
    border: 1px solid gray;
    width: 170px;
    margin-bottom: 8px;
    margin-right: 30px;
    
  
}
.orta{
   margin-left: 25px;
   margin-right: 25px;
   
}
h3{
    text-align: center;
}
.jon{
    text-align: center;
    color: gray;
}
.dec{
    text-align: center;
    color: aqua;
}
b{
    margin-left: 30px;
}
.sekiller{
    display: flex;
  
    
}
.button{
    text-align: center;
    border: 2px solid aqua;
    margin-left: 35px;
}
.scrol{
    overflow: scroll;
}
.feature{
    width: 100vw;
    overflow: scroll;
    
}
h2{
    text-align: center;
}

.b1{
    border: 1px solid black;
    
   width: 170px;
    height: 56vh;
 padding-left: 30px;
   padding-right: 40px;
   padding-top: 2px;

 margin-bottom: 8px;
 margin-right: 30px;
 display: inline;
 margin-left: 50px;
 padding-bottom: 10px;
}

.b1 i{
    color: aqua;
}
.b1 p{
    margin-left: 60px;
}
.but{
    background-color: white;
    border-color: aqua;
    margin-left: 60px;
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    
}
.a1  p{
    
  margin-left: 60px;
}
.idi{
    margin-left: 60px;
}
 .butlar{
    background-color: white;
    border-color: aqua;
    margin-left: 60px;
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    color: black;
    
}
.but{
    color: black;
    
}
.books{
display: flex;
flex-wrap: wrap;

    
}
.a1{
    border: 1px solid black;
    
   width: 170px;
    height: 56vh;
 padding-left: 30px;
   padding-right: 40px;
   padding-top: 2px;

 margin-bottom: 8px;
 margin-right: 30px;
 margin-left: 50px;
 padding-bottom: 10px;
 margin-top: 25px;
}

.a1 i{
    color: aqua;
}
.containerblog{
    
    height:  70vh;
   margin-top: 30px;
}
.iler{
    float: right;
}
h4{
    color: aqua;
}
.reng{
    color: aqua;
}


h2{
    text-align: center;
}
.ser{
    display: flex;
}
.bro{
    border-radius: 2px;
    border: 1px solid black;
    margin-bottom: 8px;
    margin-right: 30px;
}
h2{
    text-align: center;
}
.page{
    border: 1px solid aqua;
    height: 80vh;
    width: 500px;
    box-shadow: 3px 3px 2px aqua;
    margin-right: 30px;
    border-radius: 5px;
    padding-bottom: 8px;
}
.page img{
    border-radius: 50%;
    margin-left: 15px;
    margin-top: 10px;
}
h4{
   font-weight: 100;
   font-size: 30px;
   margin-left: 15px;
}
.page     p{
    margin-left: 15px;
    margin-right: 2px;
}
.rev i{
    color: aqua;
    
}
.rev{
    margin-left: 15px;
}
.reviev{
    display: flex;
}

.dordler p {
    margin-top: -30px;
}
.dordler h4{
    margin-top: 10px;
    color: black;
    margin-bottom: 30px;
}
.yoxee{
    margin-right: 45px;
}
.flex{
    margin-left: 40px;
}